<h1>Flickr Photo Feed</h1>
<%= form_tag('/', method: "get") do %>

  Flickr User Id:
  <%= text_field_tag :user_id %>

  <%= submit_tag "Submit" %>

<% end %>

<%= render_flickr_sidebar_widget(@user_id) %>
